body {
  background-color: rgb(97, 103, 107);
}

* {
  margin: 0;
  padding: 0;

  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: calc(14px + 0.390625vw);
}
div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;

  padding: 20px;

  margin: 10px auto;

  background-color: rgb(4, 37, 65);
  border-radius: 25px;
}

.container > div#input_field {
  /* display: grid; */
  /* grid-template-columns: 70% 15% 15%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0 0 0;
  /* margin-bottom: 10px; */

  width: 100%;
}
.tempFormat {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  /* font-size: 1.2em; */
  color: rgb(194, 221, 230);
}
.tempFormat > * {
  margin: 4px;
  padding: 0;

  cursor: pointer;
}
.unselected {
  color: rgba(194, 221, 230, 0.171);
}
.container > div > input#search_bar {
  /* width: 100%; */
  border-radius: 16px;

  align-self: stretch;

  text-align: center;
  /* font-size: 1.4rem; */

  min-width: 0;
  min-height: 0;
}
.container > div > img {
  margin-left: 10px;
  border: 1px rgb(255, 255, 255) solid;
  background-color: white;
  border-radius: 26px;

  cursor: pointer;

  max-width: 54px;

  min-width: 0;
  min-height: 0;
}

#weather_data {
  /* min-width: 0px; */

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#weather_data > div {
  margin: 8% 10px;
  color: rgb(194, 221, 230);
}
#temp_container {
  display: grid;
  grid-template: 1fr 1fr /1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;

  border: 2px rgb(255, 255, 255) solid;
  padding: 20px;
  border-radius: 16px;

  margin-top: 10px;

  min-width: 0px;
}

#temp_container > div#temp {
  font-size: 3em;
}
/* #temp{
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  grid-column: span 2;
} */

#cloudicon {
  grid-row: span 2;
}

div#temphighlow > * {
  font-size: smaller;
}
div#temphighlow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  gap: 5px;
  /* font-size: 0.8em; */
  flex-wrap: wrap;
}
div#temphighlow > * {
  flex-basis: 80px;
  flex-grow: 1;
  flex-shrink: 1;

  min-width: 0;
}
.high {
  color: rgb(255, 255, 255);

  /* font-weight: bold; */
}

@media screen and (max-width: 950px) {
  div.container {
    width: 80%;
  }
}
@media screen and (max-width: 370px) {
  * {
    font-size: calc(11px + 0.390625vw);
  }
  #temp_container {
    padding: 7px;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;

    gap: 5px;

    width: 90%;
  }
}
